doctype html
html(ng-app="static")
	head
		title= title
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet" href="./bower_components/PACE/themes/white/pace-theme-minimal.css")
		link(rel="stylesheet" href="./bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css")
	body
		div(ui-view="")
		script(src="./bower_components/jquery/dist/jquery.js")
		script(src="./bower_components/angular/angular.js")
		script(src="./bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="./bower_components/bootstrap/dist/js/bootstrap.js")
		script(src="./bower_components/angular-smart-table/dist/smart-table.js")
		script(src="./bower_components/angular-local-storage/dist/angular-local-storage.js")
		script(src="./bower_components/PACE/pace.js")
		script(src="./bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js")
		script(src="./bower_components/bootstrap-switch/dist/js/bootstrap-switch.js")
		script(src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
		//- angular app
		script(src="./angular/app.js")
		script(src="./angular/factory.js")
		script(src="./angular/controllers.js")
		//- config and extra scripts
		script(src="./javascripts/pace_config.js")
