doctype html
html(ng-app="static")
	head
		title= title
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css")

	body
		script(src="./bower_components/angular/angular.js")
		script(src="./bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="./bower_components/jquery/dist/jquery.js")
		script(src="./bower_components/bootstrap/dist/js/bootstrap.js")
		//- angular app
		script(src="./angular/app.js")
		script(src="./angular/controllers.js")
		script(src="./angular/factory.js")
		block content
