<br><br><br>
.jumbotron
  h1 Want to add a new user?
  p to go to the create new user view, click the button below!
  div(ng-controller='ModalUserCreateCtrl')
    button.btn.btn-lg.btn-success(ng-click="open()") Add a new User!
legend
  h1 All Users
table.table.table-striped.table-hover
  thead
    //- input.form-control(st-search='' placeholder='global search ...' type='text')
    tr
      th ID
      th First Name
      th Last Name
      th Active?
      th Y Code
      th Edit
      th Delete
  tbody
    tr(ng-repeat='user in users')
      td {{user._id}}
      td {{user.user_data.first_name}}
      td {{user.user_data.last_name}}
      td(ng-show="user.user_data.active === 1")
        span.label.label-success active
      td(ng-show="user.user_data.active === 0")
        span.label.label-danger inactive
      td {{user.user_data.y_code}}
      td(ng-controller="ModalUserEditCtrl")
        input.btn.btn-info(type="button" value="Edit" ng-click="open(user)")
      td
        input.btn.btn-danger(type="button" value="Delete" ng-click="deleteUser(user)")
